<ion-content>
  <ion-list padding>
    <button ion-button (click)="triggerLED()">Trigger</button>
    <p>LED : {{onLed ? 'ON': 'OFF'}}</p>
    <button ion-button (click)="startScanning()">scan</button>
    <ion-list-header>
      Paired Devices
    </ion-list-header>
    <ion-item *ngFor="let device of pairedDevices">
      {{device.name}}
      <button ion-button (click)="connectForInsecure(device)">Connect For Insecure</button>
    </ion-item>
    <button ion-button (click)="disconnect()">Disconnect</button>

    <!--results-->
    <ion-list-header>
      BT Data
    </ion-list-header>
    <ion-item *ngFor='let data of arduinoBTData; let idx = index'>
    <span>
      {{idx}} - {{data.target}}: {{data.message}}
    </span>
    </ion-item>
  </ion-list>
</ion-content>
